


.navbar .navbar-toggler {
    border: none;
}

.navbar .navbar-toggler-icon {
    filter: invert();
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

#carouselExampleAutoplaying {
    height: 100vh;
}

#carouselExampleAutoplaying h1 {
    font-size: 4rem;
}

#carouselExampleAutoplaying h2 {
    font-size: 4rem;
}

#carouselExampleAutoplaying h2,
#carouselExampleAutoplaying p {
    text-shadow: 2px 2px 8px #000000;
}

.logo{
    border-radius: 50%;
    width: 200px;
    margin:0px auto;
}

@media only screen and (max-width: 992px) {
    #carouselExampleAutoplaying {
        height: auto;
    }
    .logo{
        display: none;
    }
    #navbarSupportedContent {
        background: transparent;
        backdrop-filter: blur(15px);
        box-shadow: 0 0 30px rgba(0, 0, 0, .5);
        margin-top: 0.7rem;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 768px) {
    

    #carouselExampleAutoplaying h1 {
        display: none;
    }
    
    #carouselExampleAutoplaying h2 {
        font-size: 1rem;
    }

    .btn{
        width: 120px;
        height:40px;
        font-size: 10px;
    }

    .discover{
    
        font-size: 13px;
        
    }
    
    .discover1{
    
        font-size: 11px;
        
    }

}

@media only screen and (max-width: 576px) {
    #carouselExampleAutoplaying h2 {
        font-size: 1rem;   
    }
}