.offer-title{
    text-align: center;
   padding-top: 120px;
   font-weight: bold;
   font-style: italic;
   
}

.coupon{
    position: relative;
    top:20px;
}

.coupon-container{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.coupon-image{
    height: 30%;
    width: 45%;
}

@media only screen and (max-width: 600px) {
    .coupon-container {
        flex-direction: column;
        align-items: center;
    }

    .coupon-image {
        height: auto;
        width: 80%; /* Adjust as needed */
        margin: 10px ;
    }
}


.offer1{
    border: 1px solid black;
    background-image: url(./../assets/pizza24.avif);
    height: 300px;
    background-position: center;
    background-size: cover;
    margin-right: 20px;
}

.offer1 h1{
    padding: 70px;
    color: aliceblue;
}

.offer1 h3{
    color: rgb(1, 10, 18);
   
    height:max-content;
    width: 40%;
    
    padding:6px;
    position: relative;
    left: 70px;
    bottom: 30px;
    text-align: center;
    background-color:  rgb(156, 149, 149);
}
.offer2{
    border: 1px solid black;;
    /* background-image: url(./../assets/pizza16_coupon.jpg); */
    height: 300px;
    width: fit-content;

    /* background-position: center;
    background-size: cover; */
}

.offer2 h1{
    color: aliceblue;
    position: relative;
    left: 290px;
    top:70px;

}

.offer2 h3{
    position: relative;
    top:100px;
    left: 290px;
    color: rgb(10, 10, 10);
    background-color:  rgb(156, 149, 149);
    text-align: center;
    padding: 6px;
    height:max-content;
    width: 40%;
   
}

.row {
    overflow: hidden; /* Hide the scrollbar */
}