.offer-title{
    text-align: center;
   padding-top: 40px;
   font-weight: bold;
   animation: pulse1 4s 1 forwards;
   
}

@keyframes pulse1 {
    from {
      transform: scale(1);
   
    }
    to {
      transform: scale(1.8); /* Increased scale */
    }
  }

.coupon{
    position: relative;
    top:100px;
}

.offer-coupon{
    background-color: #c9cdc9;
    padding-bottom: 120px;
}

.coupon-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.coupon-image{
    height: 30%;
    width: 45%;
}

@media only screen and (max-width: 600px) {
    .coupon-container {
        flex-direction: column;
        align-items: center;
    }

    .coupon-image {
        height: auto;
        width: 80%; /* Adjust as needed */
        margin: 10px ;
    }
}


